
{% if form.non_field_errors %}
    <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><i class="fas fa-exclamation-triangle "></i> Error! </strong><br>
    {% for error in form.non_field_errors %}
        {{ error|escape }}<br>
    {% endfor %}
    </div>
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible" role="alert">
        {% endif %}
        {% if message.tags == "success" %}
        <div class="alert alert-success alert-dismissible" role="alert">
        {% endif %}
        {% if message.tags == "info" %}
        <div class="alert alert-info alert-dismissible" role="alert">
        {% endif %}
        {% if message.tags == "warning" %}
        <div class="alert alert-warning alert-dismissible" role="alert">
        {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% if message.tags == "error" %}
            <strong><i class="fas fa-exclamation-triangle"></i> Error! </strong><br>
            {% endif %}
            {% if message.tags == "success" %}
            <strong><i class="fas fa-check-circle"></i> Success! </strong><br>
            {% endif %}
            {% if message.tags == "info" %}
            <strong><i class="fas fa-info"></i> Info! </strong><br>
            {% endif %}
            {% if message.tags == "warning" %}
            <strong><i class="fas fa-exclamation-circle"></i> Warning! </strong><br>
            {% endif %}
             {{ message }}
        </div>
    {% endfor %}
{% endif %}