{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Accounts Reset Password{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<h3 class="page_header"><b>Reset Password</b></h3>
			<br>
			<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
			<br>
			{% include settings.FORM_ERROR with form=form messages=messages %}
		</div>
		<div class="col-md-3">
			<form method="post" novalidate>
				<input type="hidden" name="next" value="{{ next }}" />
			  	{% include settings.FORM_CORE with form=form %}
			  	<div class="form-group">
			  		<button type="submit" class="btn btn-default">Reset Password</button>
			  		<input type="hidden" name="next" value="{{ next }}" />
			  	</div>
			</form>	
		</div>
		<br>
		<div class="col-md-12">
			<p>Please contact us if you have any trouble resetting your password.</p>
		</div>
	</div>
</div>
{% endblock %}