{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ settings.APP_NAME_TEXT|safe }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ settings.APP_NAME|safe }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
