{% load widget_tweaks %}
{% csrf_token %}
    {% for field in form %}
    {% if form.is_bound %}
        {% if field.errors %}
        <div class="form-group has-error">
            <b>{{ field.label_tag }}</b>
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
                <small>
                    <span class="help-block">{{ error }}</span>
                </small>
            {% endfor %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        {% else %}
        <div class="form-group">
            <b>{{ field.label_tag }}</b>
            {% render_field field class="form-control"%}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        {% endif %}
        </div>
    {% else %}
        <div class="form-group">
            <b>{{ field.label_tag }}</b>
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}