{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Sign In | {{ settings.APP_NAME_TEXT }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<h3 class="page_header"><b>Sign In</b></h3>
			<br>
			<p>If you have not created and account yet, please <a href="{% url 'core:signup' %}">Sign Up  <i class="fas fa-check"></i></a> first.</p>
			<br>
			{% include settings.FORM_ERROR with form=form messages=messages %}
		</div>
		<div class="col-md-3">	
			<form method="post" novalidate>
				<input type="hidden" name="next" value="{{ next }}" />
			  	{% include settings.FORM_CORE with form=form %}
			  	<div class="form-group">
			  		<button type="submit" class="btn btn-default">Login <i class="fas fa-sign-in-alt"></i></button>
			  		<input type="hidden" name="next" value="{{ next }}" />
			  	</div>
			  	<div class="form-group">
			  		<a href="{% url 'core:password_reset' %}">Forgot password ?</a>
			  	</div>
			</form>	
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

        <script src="{% static 'assets/js/fontawesome.min.js' %}"></script>
{% endblock %}