<div class="header">
	<nav class="navbar navbar-default">
	  	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://{{request.META.HTTP_HOST}}">{{ settings.APP_NAME|safe }}</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav navbar-right">
					<li><a href="http://{{ request.META.HTTP_HOST }}">Home</a></li>
					<li><a href="{% url 'polls:index' %}">Polls</a></li>
			      	{% if user.is_authenticated %}
					<li class="dropdown">
			          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
			          	<ul class="dropdown-menu">
				            <li><a href="{% url 'core:logout' %}">Logout</a></li>
			          	</ul>
			        </li>
			      	{% else %}
				      	{% if request.path == '/accounts/login/' %}
							<li><a href="{% url 'core:signup' %}"><b>Sign Up</b></a></li>
				      	{% else %}
							<li><a href="{% url 'core:login' %}"><b>Login</b></a></li>
						{% endif %}
					{% endif %}
			    </ul>
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
</div>