<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    {% block meta %}
        {{ block.super }}
        <meta name="description" content="{{ settings.APP_NAME_TEXT }}" />
        <meta property="og:title" content="{{ settings.APP_NAME_TEXT }}" />
        <meta property="og:site_name" content="{{ settings.APP_NAME_TEXT }}"/>
        <meta property="og:description" content="{{ settings.APP_DESCRIPTION }}" />
        <meta property="og:image" content="/media/" />
        <meta name="description" content="{{ settings.APP_DESCRIPTION }}" />
        <meta property="og:title" content="{{ settings.APP_NAME_TEXT }}" />
        <meta property="og:site_name" content="{{ settings.APP_NAME_TEXT }}"/>
        <meta property="og:description" content="{{ settings.APP_DESCRIPTION }}" />
        <meta property="og:image" content="/media/" />
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'app.ico' %}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="app">
    {% include 'layout/includes/header.html' %}
    {% block content %}{% endblock %}
    {% include 'layout/includes/footer.html' %}
    {% block scripts %}{% endblock %}
    <script src="{% static 'assets/js/fontawesome.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  </body>
</html>